* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    height: 80px;
    align-items: center;
    justify-content: center;
}

nav a {
    font-size: 16px;
}

nav .btn {
    background-color: #1D2130;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    width: 115px;
}

nav .btn:hover {
    background-color: #F2C94C;
}

.bg-image {
    background-image: url(./images/BG\ Image.png);
    width: 100%;
    /* height: 400px; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    object-fit: cover;
    left: 0;
    background-position: 50%;
    z-index: -1;
}

header .headtext {
    color: white;
    align-items: center;
    justify-content: center;
}

header .container {
    padding: 25vh 0px;
}

.headtext p {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.2;
}

.headtext button {
    margin-top: 20px;
    font-size: 16px;
}

.btn-light:hover {
    background-color: #c89706;
}

.btn-transparent:hover {
    color: black;
    background-color: #c89706;

}

header .line {
    color: white;
    padding-left: 14vh;
    padding-bottom: 50px;
    letter-spacing: 1px;
    /* width: 836px; */
}

/* aboutsection */
#aboutsection {
    padding: 70px 0px 0px 20px;
    /* background-color: aliceblue; */
}

#aboutsection .line2 img {
    width: 72px;
}

#aboutsection .coltext {
    padding-top: 60px;
}

#aboutsection .line2 span {
    font-size: 0.7rem;
}

.sectiontext h1,
.sectiontext p {
    padding: 20px 0px 0px 75px;
}

.sectiontext button {
    background-color: #F2C94C;
    border-radius: 4px;
    font-size: 16px;
    color: black;
    width: 115px;
    margin: 20px 0px 50px 75px;
}

.sectiontext button:hover {
    background-color: black;
    color: white;
}

.sectiontext .aboutimg {
    height: 525px;
    width: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    align-items: center;
    margin-left: 70px;
    right: 0;
}

.sectiontext .colimage {
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.sectiontext .colimage .playbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    width: 40px;
    height: 40px;
}

.sectiontext .titlerow {
    /* background-color: antiquewhite; */
    padding-top: 40px;
}

.sectiontext .titlerow ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.sectiontext .titlerow li {
    list-style: none;
}

.sectiontext .titlerow li img {
    width: 142px;
    height: 28px;
}


/* what we do */
#whatwedo {

    padding: 0px 0px 30px 20px;
    background-color: #FCEDC6;
}

#whatwedo .line2 img {
    width: 72px;
}

#whatwedo .coltext {
    padding-top: 60px;
}

#whatwedo .line2 span {
    font-size: 0.7rem;
}

.whatwedotext h1,
.whatwedotext p {
    padding: 5px 0px 0px 75px;
}

.whatwedotext .aboutimg {
    height: 525px;
    width: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    align-items: center;
    margin-left: 70px;
    right: 0;
    padding-top: 130px;
}

.whatwedotext .colimage {
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.whatwedotext .function {
    width: 560px;
    height: 501px;
}

.whatwedotext .function {
    padding-left: 70px;
}

.function .card {
    border: 3px solid #E5E5E5;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;

}

.function .card h6 {
    font-size: 24px;
}

.function .card .ftext {
    padding-left: 50px;
    padding-bottom: 30px;
}

.whatwedotext .whatwedoimg {
    width: 400px;
    height: 570px;
    margin-top: 130px;
}

/* projects we have done */

#projectwehavedone {
    padding: 0px 0px 0px 20px;
    /* background-color: #FCEDC6; */
}

#projectwehavedone .line2 img {
    width: 72px;
}

#projectwehavedone .coltext {
    padding-top: 60px;
    letter-spacing: 1.3px;
    font-weight: 600px;
}

#projectwehavedone .line2 span {
    font-size: 0.7rem;
}

.projectext h1 {
    padding: 20px 0px 0px 85px;
    font-weight: 700;
}


.imgflex {
    width: 100%;
    padding: 50px 90px 60px 90px;
    /* height: 100vh; */
    /* background-color: #36768c; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imgflex .card {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    /* overflow: hidden; */
    overflow: hidden;
    position: relative;
}

.imgflex .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.imgflex .card-body {
    width: 100%;
    height: 100%;
    top: 0;
    /* right: 0; */
    right: -100%;
    position: absolute;
    background-color: #0a0a0a38;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: white;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.5s;
}

.imgflex .card:hover .card-body {
    right: 0;
}

.imgflex .card-title {
    margin-top: 30px;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;

}

.imgflex .card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 30px 0;
}

.imgflex .card-btn {
    font-size: 16px;
    margin: 10px 0;
    width: 136px;
    height: 47px;
    border: none;
    outline: none;
}

.imgflex .btn:hover {
    background-color: #F2C94C;
}

/* piechart */

#piechart {
    background-color: black;
    width: 100%;
    height: 552px;
}

#piechart .row {
    padding-top: 150px;
}

.pietext h1 {
    padding-bottom: 20px;
}

.pietext p {
    color: #FFFFFF;
    padding-bottom: 20px;
}

.pietext ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    /* gap: 20px; */
    /* background-color: #c89706; */
    margin-left: -30px;
}

.pietext li {
    margin: 0 30px 10px 0;
}

.chart-container {
    width: 375px;
    /* background-color: #c89706; */
}

.programming-stats {
    padding-left: 160px;
    margin-top: -55px;
}

/* cta */
#cta .ctaimg {
    background-image: url(./images/unsplash_cVEOh_JJmEE\ \(1\).png);
    width: 1280px;
    height: 384px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    text-align: center;
    margin: 110px 110px 60px 110px;
    color: white;
}

#cta .btncolor {
    background-color: #F2C94C;
    outline: none;
}

#cta .btncolor:hover {
    background-color: white;
    color: black;
}

#cta .btndonate {
    background-color: white;
}

#cta .btndonate:hover {
    background-color: #F2C94C;

}

/* eventsection */
#eventsection .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 45px;
}

#eventsection .eventtext .heading {
    font-size: 40px;
    padding-left: 100px;
}

#eventsection .row {
    background-color: #F2C94C;
    border-radius: 20px;
    width: 628px;
    height: 185px;
}

#eventsection .col {
    padding: 40px;
}

.content {
    padding-left: 20px;
}

.arrow {
    padding: 40px;
}

/* footer */
footer {
    margin-top: 25px;
}


.foot-panel2 {
    background-color: #0B0706;
    color: white;
    height: 402px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.foot-panel2 ul {
    margin-top: 40px;
}

.foot-panel2 ul a {
    display: block;
    text-decoration: none;
    color: #919294;
    font-size: 0.85rem;
    margin-top: 10px;
}

.foot-panel2 ul a:hover {
    text-decoration: underline;
}

.subscribe h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 40px;
}

label {
    position: relative;
}

.subscribe input[type="text"] {
    border: none;
    width: 460px;
    height: 50px;
    padding: 0 16px;
    border: 1px solid #919294;
}

.subscribe button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    color: black;
    padding: 0 16px;
    /* letter-spacing: 1.5px; */
    border: none;
    cursor: pointer;
}

.subscribe button:hover {
    background-color: #F2C94C;
}

/*------------- section3 what we do------------------- */
#section3 {
    padding-top: 50px;
}

#section3 .aboutimg {
    width: 476px;
    height: 384px;
    padding-right: 40px;
}

/* special needs */
#specialneeds {
    background-color: #FCEDC6;
    height: 570px;
    margin-top: 55px;
}

#specialneeds h1 {
    padding: 90px 0 50px 110px;
}

#specialneeds ul {
    display: flex;
    /* row-gap: 20px; */
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
    /* background-color: greenyellow; */

}

#specialneeds li {
    list-style: none;
}


/* ------------------------section4 media---------------------------- */

#section4 {
    padding-top: 30px;
    background-color: #FCEDC6;
    height: 700px;
    border-top: 0.2px solid rgb(212, 209, 209);

}

#section4 button:hover {
    background-color: #FFFFFF;
    border: none;
}

#section4 .coltext {
    padding-top: 60px;
}

#section4 .cardcontainer {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
}

#section4 .card {
    border: none;
}

#section4 .card .cardrow {
    padding: 10px;
}

/*------------------------- section5 contactus--------------- */
#section5 {
    padding-top: 30px;
    background-color: #FCEDC6;
    height: 584px;
    border-top: 0.2px solid rgb(212, 209, 209);

}

#section5 .coltext {
    padding-top: 60px;
}

#section5 .coltext h1 {
    padding-top: 30px;
}

.contactcol {
    padding-top: 60px;
}

.contacttalk {
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
    padding: 0;
}

.contacttalk .number {
    padding-right: 30px;
}

.formbox {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
    padding: 100px 40px 8px 40px;
    /* background-color: #E5E5E5; */
}

.formbox .container {
    max-width: 800px;
    background: #fff;
    width: 800px;
    padding: 5px 40px 0px 40px;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
}

.formbox .container form {
    padding: 0px 0 0 0;
}

.formbox .container form .form-row {
    display: flex;
    margin: 32px 0;
}

.formbox form .form-row .input-data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

.formbox form .form-row .textarea {
    height: 70px;
}

.input-data input,
.textarea textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.textarea textarea {
    border: 1px solid #c7c7c8;
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
    transform: translateY(-30px);
    font-size: 14px;
    outline: none;
}

.textarea textarea {
    /* resize: none; */
    width: 684px;
    height: 156px;
    padding-top: 10px;
}

.input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.textarea label {
    width: 100%;
    bottom: 40px;
    background: transparent;
}

.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    /* background: #3498db; */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before,
.textarea textarea:focus~.underline:before,
.textarea textarea:valid~.underline:before {
    transform: scale(1);
}


.submit-btn .input-data {
    overflow: hidden;
    height: 45px !important;
    width: 25% !important;
    border-radius: 5px;

}

.submit-btn .input-data .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    /* left: -100%; */
    background-color: #F2C94C;
    transition: all 0.4s;
    align-items: center;
}

/* .submit-btn .input-data:hover .inner {
    left: 0;
} */

.submit-btn .input-data input {
    background: none;
    border: none;
    color: black;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;

}

.map {
    height: 448px;
    width: 100%;
    padding-left: 10px;
}


/*------------------ section6 donation ------------------------*/

#section6about {
    padding-top: 70px;
    background-color: #FCEDC6;
    height: 550px;
    border-top: 0.2px solid rgb(212, 209, 209);
}

#section6about .coltext {
    padding-top: 40px;
}

#section6about .colimage {
    height: 384px;
    width: 480px;
}

#section6about .btn:hover {
    background-color: white;
    color: black;
    border: none;
}

#contribution {
    padding: 60px 0;

}

#contribution .header {
    display: flex;
    align-items: baseline;
    padding: 0.5rem;
    gap: 1rem;
}

/* #contribution .header{
    width: 260px;
    height: 54px;
    border: 1px solid #666668;
    padding-bottom: 40px;
    border-top: none;
    border-right:none;
    border-left:none;
} */

#contribution .link {
    background: none;
    border: none;
    text-decoration: none;
    color: #525560;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

#contribution .link:hover {
    color: #1D2130;
}

#contribution .dropdown {
    position: relative;
}

#contribution .header button {
    border: 1px solid #F2C94C;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 10px 0;

}

#using {
    padding: 70px 0 0 0;
}